nav{
    
    color: #fff;
    width: 100%;
    font-size: 14px;
    position: fixed;
    top: 0%;
    z-index: 9;
}
.sticky{
    background: #03203d;
    

}

.n-sticky{
    background:transparent !important;
}
.n-sticky.scrolled{
   
    background: #03203d !important;
    padding-top: 5px;
    padding-bottom: 5px;
}
.n-sticky.scrolled img{
    width: 50px !important ; 
}
.top-header.scrolleddown{
    display:none;
}


p{
    color: #898888;
 }  
section{
    padding-bottom: 80px;
    padding-top: 80px;
}
a{
    text-decoration: none;
}
#phone{

    border-right: 1px solid rgba(255, 255, 255, .1);
    padding: 17px 0px 10px 10px;
}
#email{
    padding: 17px 0px 10px 10px;
}
#login{
    padding: 17px 0px 10px 10px;
    border-right: 1px solid rgba(255, 255, 255, .1);
    
}
#Signup{
    padding: 10px;
}
#donate{
    background-color: #f67d4a;
    
    font-size: 15px;
    font-weight: bold;
    color: #fff;
}
#navbarlist{
    background: transparent;
    color: #fff;
    font-size: 17px;
    border: none;
}
#dropdownbutton{
    background-color: transparent;
    color: #fff;
    padding:0px;
}
#dropdownitem{
    border-bottom: 1px solid rgba(255, 255, 255, .1);;
}
.dropdown:hover .dropdown-menu {
    display: block;
    margin-top: 0; 
 }
.carousel-caption{
 margin-bottom: 250px;
font-size: 60px;
font-weight: bold;
margin-right: 750px;
justify-content: start;

}
#knowmore{
    background-color:transparent;
    border: 1px solid #fff;
    font-size: medium; padding:10px 20px 10px 20px;
    font-weight: bold;
    color: #fff; 
}
.grey-box{
    background: #f4f8fc;
    padding: 20px 25px;
}
.grey-box h5{
    margin-top: 0px;
    opacity: 0.6;
    font-size: 16px;
}
.grey-box h3{
    margin-bottom: 0px;
    font-size: 24px;
}
section.grey-box-sec{
    padding: 20px 0px;
}
.grey-box img{
    width: 60px;
}
.grey-box .content{
    display: inline-block;
    vertical-align: middle;
    margin-left: 60px;
}
.About-us .image-box{
   
 
    padding: 10px;
    margin-right: 40px;

}
.About-us .ab-image{
    width: 100%;
 
}
.About-us h2{
    font-size: 36px;
    font-weight: 700;
    color: #444;
    position: relative;
    padding-bottom: 20px;
    margin-bottom: 50px;
    position: relative;
    margin-top: 15px;
}
.About-us h2:before{
    content: "";
    position: absolute;
    left:0;
    bottom: 0;
    width: 80px;
    height: 3px;
    background: #f67d4a;
    border-radius: 20px;
}
.About-us p{
    color: #898888;
    line-height: 1.6em;
    font-size: 16px;
    font-weight: 400;
}
.About-us button{
    margin-top: 20px;
}
.About-us .signature{
    margin-top: 20px;
}
.About-us{
    padding-bottom: 50px;
    padding-top: 50px;
}
.causes{
    background: #f4f8fc;
    top: 0%;
    width: 100%;
   padding-bottom: 100px;
   padding-top: 100px;
}
.causes h5,.donation-payment h5{
    color: #f67d4a;
}
.causes h2,.donation-payment h2{
    color: #232f4b;
    font-weight: 700;
    padding-bottom: 20px;
    position: relative;

}
.causes-title{
    text-align: center;
}
.causes-title h2:before{
    content: "";
    position: absolute;
    
    left: 46%;
    bottom: 0;
    width: 80px;
    height: 3px;
    background: #f67d4a;
    border-radius: 20px;
}
.causes-image-box{
    background-color: #fff;
    border:2px solid #e5e8ec;
    
    padding: 10px;
    
}
.causes-image{
    border-radius: 50%;
    position: relative;
}
.causes-image-goal{
    padding: 10px 10px;
    background:#fff;
    margin-left: 5px;
    border-radius: 30px;
    color: #444;
    font-weight: 600;
    box-shadow:0 0 7px #bac2cb;;
    
}
.causes-image-box h3{
    font-size: 19px;
    font-weight: 700;
    padding-top: 10px;
    color: #232f4b;;
   
}
.causes-image-box p{
    color: #898888;
}
.causes-image .btn{
    position:absolute;
    top: 45%;
    left: 35%;
    display: none;
}
.causes-image:hover .btn{
    display: block;

}
.causes-image:hover img{
    filter: brightness(0.30);
}
.counter-section{
    position: relative;
    background:url(http://themepresss.com/tf/html/sadakat-live/assets/images/counter/img-1.png) no-repeat;


padding:80px;

}
.counter-section:before, .blog-banner:before,.donation-section::before{
content: "";
position: absolute;
top: 0%;
left: 0%;
right: 0%;
width: 100%;
height: 100%;
background:rgba(0, 0, 0, 0.7);
}
.counter-section .h1{
    color: #fff;
    font-size: 60px;
    font: 600;

}
.count-up{
    border-right: 1px solid #fff;
    text-align: center;
}
.counter-text{
    color: #fff; 
    margin-left: 100px;
}
.gallery-section{
    position: relative;
    padding-top: 50px;
    text-align: center;
    
    
}

.gallery-title{
    text-align: center;
}
.gallery-title h2:before{
    content: "";
    position: absolute;
    
    left: 46%;
    bottom: -7px;
    width: 80px;
    height: 3px;
    background: #f67d4a;
    border-radius: 20px;
}

.gallery-section ul{
    border-radius: 40px;
   border: none;
   margin-left: 250px;
   padding: 20px;

}
.gallery-section .list-group-item{
    border: none;
    border-radius: 40px;
   
    color: #444;
    margin-left: 20px;
    
    
}
.gallery-section img{
    width: 100%;
}
.gallery-section .row{
    margin-top: 10px;
}
.volunteer-section{
    background: #f4f8fc;
}
.volunteer-section h5,.events-section h5,.blog-section h5{
    color: #f67d4a;
}
.volunteer-section h2,.events-section h2, .blog-section h2{
    color: #444;
    font-weight: 700;
    padding-bottom: 20px;
    position: relative;

}
.volunteer-title,.events-section-title, .blog-section-title{
    text-align: center;
}
.volunteer-title h2:before,.events-section-title h2:before, .blog-section-title h2:before{
    content: "";
    position: absolute;
    
    left: 46%;
    bottom: 0;
    width: 80px;
    height: 3px;
    background: #f67d4a;
    border-radius: 20px;
}
.volunteer-section h3,.events-section h3, .blog-section h3{
    font-size: 19px;
    font-weight: 700;
    padding-top: 10px;
    color: #232f4b;
   
}
.volunteer-section img,.events-section img,.blog-section img{
    margin-top: 50px;
    width: 100%;
}
 .volunteer-section p{
    color: #898888;
 }   
 .blog-banner{
    
        position: relative;
        background:url(	http://themepresss.com/tf/html/sadakat-live/assets/images/cta.jpg) no-repeat;
    
     text-align: center;
    padding:80px;
    height: 300px;
    }
   
    .blog-banner-text{
position: relative;
z-index: 9;
text-align: center;
width: 40%;
display: table;
margin:0 auto;

    }
  .blog-banner h1{
    color: #fff;
    font-size: 48px;
    font: 600;
  }
  .blog-section li{
      border:none;
      padding: 8px;
      vertical-align: middle;
      color: #232f4b;

  }
  .blog-section li img{
  
      margin-top: -10px;
  }
  .news-letter-section .col-md-8{
      background-color: #f4f8fc;
      border-radius: 10px;
      box-shadow:0 0 7px #bac2cb;
      text-align: center;
      padding: 50px 100px;

  }
.news-letter-section h1{
    color: #232f4b;
    font-weight: 700;
}
.news-letter-section input{
    border-radius: 25px;
    
}
.news-letter-section .subscribe-btn{
    border-radius: 25px;
    background-color: #f67d4a;
    outline: none;
    color: #fff;
    font-size: 18px;
    
}
.subscribe-btn:hover{
    color: #fff;
}
footer{
    background-color: #f4f8fc;
    margin-top: -200px;
    padding-bottom: 50px;
}
footer p{
    margin:0 0 10px;
   color: #444;
   font-size: 16px;
    font-weight: 400;
    
}
footer svg{
    margin-left: 20px;
}
footer .col-md-3{
    padding-top: 170px;
    text-align: start;
}
    
footer h3{
    font-size: 23px;
    color: #232f4b;
    font-weight: bold;
    margin-left: 37px;
}    
footer ul{
    list-style-type:none;
    padding:15px;
    text-align: start;
}
footer li{
    padding:5px
}
footer img{
    width: 100%;
}
footer .col-md-4{
    padding: 2.5px;
    
}
.donation-section{
    margin-top: 150px;
    height: 350px;
    position: relative;
    background:url(http://themepresss.com/tf/html/sadakat-live/assets/images/breadcumb/img-1.jpg) no-repeat;


padding:80px;

}

.donation-section h2{
    font-size: 40px;
    font-weight: 700;
    font-family: 'Rubik', sans-serif;
    color: #fff;
    margin-left: 100px;
}
.donation-section p{
    color: #f67d4a;
    font-size: 18px;
    margin-left: 50px;
}
.donation-section a{
    color: #fff;
    font-size: 18px;
    text-decoration: none;
    margin-left: 50px;
    
}
.donation-section a:hover{
    color: #f67d4a;
}
.Donation-amount,.Donation-details{
    padding: 30px;
    margin-bottom: 40px;
    box-shadow: 0px 1px 40px 0px rgb(40 63 116 / 10%);
    background: #fff;
    border-radius: 10px;
    padding-bottom: 30px;
    height: 100%;
    width: 100%;
    padding-left: 30px;
}
.Donation-amount h2,.Donation-details h2{
    font-size: 18px;
    font-weight: 600;
}
.Donation-amount input{
    width: 100%;
    background: transparent;
    width: 100%;
    height: 50px;
    border: 0;
    border: 1px solid #e8dcdc;
    outline: none;
    padding-left: 15px;
    border-radius: 0;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    color: #525252;
    border-radius: 5px;
}
.Donation-details input{
    width: 46%;
    background: transparent;
    
    height: 50px;
    border: 0;
    border: 1px solid #e8dcdc;
    outline: none;
    padding-left: 15px;

    
    color: #525252;
    border-radius: 5px;
    margin-left: 15px;
    margin-top: 10px;
}
.Donation-details textarea{
    width: 46%;
    background: transparent;
    
    height: 50px;
    border: 0;
    border: 1px solid #e8dcdc;
    outline: none;
    padding:10px;

    
    color: #525252;
    border-radius: 5px;
    margin-left: 15px;
    margin-top: 10px;
}
input[type=radio] {
    border: 0px;
    width: auto !important;
    height: 1em;
    
} 
.radio-group{
    margin-right: 10px;
    display: inline-block;
}
.radio-group label{
    font-size: 18px;
    margin-left: 10px;
    font-weight: bold;
    color: rgba(0,0,0,0.5);
}
input[type=submit]{
    background: #f67d4a;
    color: #fff;
    border-radius: 20px;
    padding-left: 25px;
    padding-top: 10px;
    padding-right: 25px;
    padding-bottom: 10px;
    border: none;
    
}
.donation-payment{
    margin-bottom: -250px;
}
.Donation-details img{
    border: 1px solid #898888;
    padding:15px;
    width: 80px;
}
.carousel-item {
    transition: -webkit-transform 0.5s ease;
    transition: transform 0.5s ease;
    transition: transform 0.5s ease, -webkit-transform 0.5s ease;
    -webkit-backface-visibility: visible;
    backface-visibility: visible;
}
.carousel-inner{overflow:hidden}
.carousel-item-next.carousel-item-left{
    display: block !important;
  }